body {
    margin: 0;
    cursor: crosshair;
    background: black;
  }
  canvas{
    display:flex;
  }
  h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EA8FEA;
    font-family: "Impact,Charcoal,sans-serif";
    font-size: 3em;
    font-weight: 800;
    -webkit-user-select: none;
    user-select: none;
  }
  h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: pink;
    font-family: "Impact,Charcoal,sans-serif";
    font-size: 6em;
    font-weight: 800;
    -webkit-user-select: none;
    user-select: none;
  }

  h3 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #A459D1;
    font-size: 40px;
    padding-bottom: 10px;
  }

  h4 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d159b1;
    font-size: 40px;
  }

  @media screen {
    h1 {
        text-align: center;
        font-size: 2.5em;  
    }

    h2{
        text-align: center;
        font-size: 3.5em;
    }

    h3 {
        text-align: center;
        font-size: 2.3em;
    }

    h4 {
        text-align: center;
        font-size: 2em;
    }
  }